<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/static/styles.css') }}">
</head>
<body>
    <h1>Formulario de Contacto</h1>
    <label for="">Alan Hernandez H 9 "B" </label>
    <form action="/submit" method="post">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required>
        <br><br>
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" required>
        <br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
